<a class="header-link" href="{{ "/" | prepend: site.baseurl | replace: '//', '/' }}" data-lang-de="Portfolio" data-lang-en="Portfolio">Portfolio</a>
<a class="header-link" href="{{ "/whoami" | prepend: site.baseurl | replace: '//', '/' }}" data-lang-de="&Uuml;ber mich" data-lang-en="About">&Uuml;ber mich</a>
<a class="header-link" href="{{ "/cyberden" | prepend: site.baseurl | replace: '//', '/' }}">CyberDen</a>
<a class="header-link" href="{{ "/notes" | prepend: site.baseurl | replace: '//', '/' }}" data-lang-de="Notizen" data-lang-en="Notes">Notizen</a>

<!--
<a class="header-link" href="{{ "/atom.xml" | prepend: site.baseurl | replace: '//', '/' }}">RSS</a>
-->
